[submodule "third_party/abseil-cpp"]
	path = crates/protovalidate-deps/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/antlr4"]
	path = crates/protovalidate-deps/third_party/antlr4
	url = https://github.com/antlr/antlr4
[submodule "third_party/cel-cpp"]
	path = crates/protovalidate-deps/third_party/cel-cpp
	url = https://github.com/google/cel-cpp
[submodule "third_party/protobuf"]
	path = crates/protovalidate-deps/third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third_party/re2"]
	path = crates/protovalidate-deps/third_party/re2
	url = https://github.com/google/re2
