* text=auto eol=lf

protovalidate/_gen/** linguist-generated=true
test/gen/** linguist-generated=true

proto/** linguist-vendored=true
test/proto/buf/** linguist-vendored=true

crates/**/gen/** linguist-generated=true

crates/*/filelists/*.txt linguist-generated=true
protovalidate/_protovalidate.pyi linguist-generated=true
